In [1]:
import pandas as pd
import numpy as np

In [2]:
cf=pd.read_csv('daegu.csv', encoding='utf8')

In [3]:
cf

,open,open close,close,area,adress,name,category,mub
0,20210225,3,20210323.0,33.06,중구 계산동2가 0200 현대백화점 8층,시노베,일반조리판매,N
1,20210226,3,20210727.0,14.88,중구 동성로3가 0036-0013,달꽃 크레페,패스트푸드,N
2,20181022,3,20191011.0,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
3,20181022,3,20190228.0,11.00,중구 계산동2가 0200번지 현대백화점 지하 1층,농업회사법인135도 주식회사,일반조리판매,N
4,20181029,3,20181127.0,NaN,중구 남산동 2267-0013번지 지상 5층,카페 이웃집수달,커피숍,N
...,...,...,...,...,...,...,...,...
22677,20090831,1,NaN,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
22678,20150730,1,NaN,46.53,달성군 다사읍 서재리 105번지 외 1필지,배스킨라빈스 대구서재점,아이스크림,N
22679,20150803,1,NaN,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
22680,20151026,1,NaN,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
22681,20151029,1,NaN,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [4]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22682 entries, 0 to 22681
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open        22682 non-null  int64
 1   open close  22682 non-null  int64
 2   close       13467 non-null  float64
 3   area        21967 non-null  object
 4   adress      22662 non-null  object
 5   name        22682 non-null  object
 6   category    22682 non-null  object
 7   mub         22682 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.4+ MB

In [5]:
coffe =(cf.category == '커피숍')
coffe

0        False
1        False
2         True
3        False
4         True
         ...
22677     True
22678    False
22679     True
22680     True
22681     True
Name: category, Length: 22682, dtype: bool

In [6]:
df=cf[coffe]
df

,open,open close,close,area,adress,name,category,mub
2,20181022,3,20191011.0,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
4,20181029,3,20181127.0,NaN,중구 남산동 2267-0013번지 지상 5층,카페 이웃집수달,커피숍,N
5,20181030,3,20190701.0,89.61,중구 삼덕동3가 0136-0002번지 지상 1층,루나(RUNA),커피숍,N
8,20181203,3,20201113.0,65.00,중구 태평로2가 0019 지상 1~2층,코이,커피숍,N
10,20181206,3,20190820.0,99.75,중구 대봉동 0039-0007번지 지상 1층,프레그먼트(Fragment),커피숍,N
...,...,...,...,...,...,...,...,...
22674,20120821,1,NaN,37.82,달성군 현풍면 상리 50-1번지,블루포트 디지스트점,커피숍,N
22677,20090831,1,NaN,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
22679,20150803,1,NaN,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
22680,20151026,1,NaN,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
22681,20151029,1,NaN,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7189 entries, 2 to 22681
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open        7189 non-null   int64
 1   open close  7189 non-null   int64
 2   close       3398 non-null   float64
 3   area        6991 non-null   object
 4   adress      7179 non-null   object
 5   name        7189 non-null   object
 6   category    7189 non-null   object
 7   mub         7189 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 505.5+ KB

In [8]:
df=df.replace({'close':np.nan},{'close':20221202})
df

,open,open close,close,area,adress,name,category,mub
2,20181022,3,20191011.0,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
4,20181029,3,20181127.0,NaN,중구 남산동 2267-0013번지 지상 5층,카페 이웃집수달,커피숍,N
5,20181030,3,20190701.0,89.61,중구 삼덕동3가 0136-0002번지 지상 1층,루나(RUNA),커피숍,N
8,20181203,3,20201113.0,65.00,중구 태평로2가 0019 지상 1~2층,코이,커피숍,N
10,20181206,3,20190820.0,99.75,중구 대봉동 0039-0007번지 지상 1층,프레그먼트(Fragment),커피숍,N
...,...,...,...,...,...,...,...,...
22674,20120821,1,20221202.0,37.82,달성군 현풍면 상리 50-1번지,블루포트 디지스트점,커피숍,N
22677,20090831,1,20221202.0,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
22679,20150803,1,20221202.0,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
22680,20151026,1,20221202.0,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
22681,20151029,1,20221202.0,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [9]:
df= df.astype({'close' :'int'})
df

,open,open close,close,area,adress,name,category,mub
2,20181022,3,20191011,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
4,20181029,3,20181127,NaN,중구 남산동 2267-0013번지 지상 5층,카페 이웃집수달,커피숍,N
5,20181030,3,20190701,89.61,중구 삼덕동3가 0136-0002번지 지상 1층,루나(RUNA),커피숍,N
8,20181203,3,20201113,65.00,중구 태평로2가 0019 지상 1~2층,코이,커피숍,N
10,20181206,3,20190820,99.75,중구 대봉동 0039-0007번지 지상 1층,프레그먼트(Fragment),커피숍,N
...,...,...,...,...,...,...,...,...
22674,20120821,1,20221202,37.82,달성군 현풍면 상리 50-1번지,블루포트 디지스트점,커피숍,N
22677,20090831,1,20221202,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
22679,20150803,1,20221202,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
22680,20151026,1,20221202,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
22681,20151029,1,20221202,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [10]:
df=df.dropna(axis=0)
df

,open,open close,close,area,adress,name,category,mub
2,20181022,3,20191011,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
5,20181030,3,20190701,89.61,중구 삼덕동3가 0136-0002번지 지상 1층,루나(RUNA),커피숍,N
8,20181203,3,20201113,65.00,중구 태평로2가 0019 지상 1~2층,코이,커피숍,N
10,20181206,3,20190820,99.75,중구 대봉동 0039-0007번지 지상 1층,프레그먼트(Fragment),커피숍,N
11,20181130,3,20190730,99.75,중구 삼덕동1가 0005-0012번지 지상 1층,카페미미미 대구동성로시코르점,커피숍,N
...,...,...,...,...,...,...,...,...
22674,20120821,1,20221202,37.82,달성군 현풍면 상리 50-1번지,블루포트 디지스트점,커피숍,N
22677,20090831,1,20221202,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
22679,20150803,1,20221202,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
22680,20151026,1,20221202,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
22681,20151029,1,20221202,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6981 entries, 2 to 22681
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open        6981 non-null   int64
 1   open close  6981 non-null   int64
 2   close       6981 non-null   int32
 3   area        6981 non-null   object
 4   adress      6981 non-null   object
 5   name        6981 non-null   object
 6   category    6981 non-null   object
 7   mub         6981 non-null   object
dtypes: int32(1), int64(2), object(5)
memory usage: 463.6+ KB

In [12]:
df.reset_index(drop = False,inplace=True)
df

,index,open,open close,close,area,adress,name,category,mub
0,2,20181022,3,20191011,127.11,중구 남산동 0938-0008번지 지하 1층,호롱커피,커피숍,N
1,5,20181030,3,20190701,89.61,중구 삼덕동3가 0136-0002번지 지상 1층,루나(RUNA),커피숍,N
2,8,20181203,3,20201113,65.00,중구 태평로2가 0019 지상 1~2층,코이,커피숍,N
3,10,20181206,3,20190820,99.75,중구 대봉동 0039-0007번지 지상 1층,프레그먼트(Fragment),커피숍,N
4,11,20181130,3,20190730,99.75,중구 삼덕동1가 0005-0012번지 지상 1층,카페미미미 대구동성로시코르점,커피숍,N
...,...,...,...,...,...,...,...,...,...
6976,22674,20120821,1,20221202,37.82,달성군 현풍면 상리 50-1번지,블루포트 디지스트점,커피숍,N
6977,22677,20090831,1,20221202,41.86,달성군 다사읍 매곡리 1531-6번지 1층,튜즈데이,커피숍,N
6978,22679,20150803,1,20221202,340.38,달성군 옥포면 교항리 2902번지 화인 TOP빌딩,투썸플레이스 대구옥포점,커피숍,Y
6979,22680,20151026,1,20221202,54.56,달성군 옥포읍 강림리 1131 101호,매스커피 대구옥포점,커피숍,N
6980,22681,20151029,1,20221202,53.36,달성군 유가읍 봉리 580-4번지,커피 다 커피,커피숍,N

In [13]:
address=[]
for i in df['adress']:
    address.append(i.split(' ')[0])
df['adress'] = address
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3281545859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adress'] = address

,index,open,open close,close,area,adress,name,category,mub
0,2,20181022,3,20191011,127.11,중구,호롱커피,커피숍,N
1,5,20181030,3,20190701,89.61,중구,루나(RUNA),커피숍,N
2,8,20181203,3,20201113,65.00,중구,코이,커피숍,N
3,10,20181206,3,20190820,99.75,중구,프레그먼트(Fragment),커피숍,N
4,11,20181130,3,20190730,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N
...,...,...,...,...,...,...,...,...,...
6976,22674,20120821,1,20221202,37.82,달성군,블루포트 디지스트점,커피숍,N
6977,22677,20090831,1,20221202,41.86,달성군,튜즈데이,커피숍,N
6978,22679,20150803,1,20221202,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y
6979,22680,20151026,1,20221202,54.56,달성군,매스커피 대구옥포점,커피숍,N
6980,22681,20151029,1,20221202,53.36,달성군,커피 다 커피,커피숍,N

In [14]:
df.rename(columns={'adress':'address'}, inplace=True)
df

C:\Users\KI\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,index,open,open close,close,area,address,name,category,mub
0,2,20181022,3,20191011,127.11,중구,호롱커피,커피숍,N
1,5,20181030,3,20190701,89.61,중구,루나(RUNA),커피숍,N
2,8,20181203,3,20201113,65.00,중구,코이,커피숍,N
3,10,20181206,3,20190820,99.75,중구,프레그먼트(Fragment),커피숍,N
4,11,20181130,3,20190730,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N
...,...,...,...,...,...,...,...,...,...
6976,22674,20120821,1,20221202,37.82,달성군,블루포트 디지스트점,커피숍,N
6977,22677,20090831,1,20221202,41.86,달성군,튜즈데이,커피숍,N
6978,22679,20150803,1,20221202,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y
6979,22680,20151026,1,20221202,54.56,달성군,매스커피 대구옥포점,커피숍,N
6980,22681,20151029,1,20221202,53.36,달성군,커피 다 커피,커피숍,N

In [15]:
df['open'] = pd.to_datetime(df['open'], format='%Y%m%d')
df['close'] = pd.to_datetime(df['close'], format='%Y%m%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6981 entries, 0 to 6980
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       6981 non-null   int64
 1   open        6981 non-null   datetime64[ns]
 2   open close  6981 non-null   int64
 3   close       6981 non-null   datetime64[ns]
 4   area        6981 non-null   object
 5   address     6981 non-null   object
 6   name        6981 non-null   object
 7   category    6981 non-null   object
 8   mub         6981 non-null   object
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 491.0+ KB

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/1875463408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['open'] = pd.to_datetime(df['open'], format='%Y%m%d')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/1875463408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['close'] = pd.to_datetime(df['close'], format='%Y%m%d')

In [16]:
df

,index,open,open close,close,area,address,name,category,mub
0,2,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N
1,5,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N
2,8,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N
3,10,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N
4,11,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N
...,...,...,...,...,...,...,...,...,...
6976,22674,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N
6977,22677,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N
6978,22679,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y
6979,22680,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N
6980,22681,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N

In [17]:
df['b_day'] = df['close'] - df['open']
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/1085756043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['b_day'] = df['close'] - df['open']

,index,open,open close,close,area,address,name,category,mub,b_day
0,2,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354 days
1,5,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244 days
2,8,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711 days
3,10,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257 days
4,11,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242 days
...,...,...,...,...,...,...,...,...,...,...
6976,22674,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755 days
6977,22677,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841 days
6978,22679,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678 days
6979,22680,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594 days
6980,22681,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591 days

In [18]:
df.drop(['index'], axis=1, inplace=True)

C:\Users\KI\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
df

,open,open close,close,area,address,name,category,mub,b_day
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354 days
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244 days
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711 days
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257 days
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242 days
...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755 days
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841 days
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678 days
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594 days
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591 days

In [20]:
df['franchise'] = df['name'].apply(lambda x : '점' in x )

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2419987829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['franchise'] = df['name'].apply(lambda x : '점' in x )

In [21]:
df

,open,open close,close,area,address,name,category,mub,b_day,franchise
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354 days,False
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244 days,False
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711 days,False
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257 days,False
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242 days,True
...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755 days,True
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841 days,False
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678 days,True
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594 days,True
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591 days,False

In [22]:
df['franchise'] = df['franchise'].apply(lambda x: 1 if x==True else 2)

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2069566414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['franchise'] = df['franchise'].apply(lambda x: 1 if x==True else 2)

In [23]:
df

,open,open close,close,area,address,name,category,mub,b_day,franchise
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354 days,2
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244 days,2
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711 days,2
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257 days,2
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242 days,1
...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755 days,1
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841 days,2
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678 days,1
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594 days,1
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591 days,2

In [24]:
df['area'] = df['area'].str.replace(',','')

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3143583211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area'] = df['area'].str.replace(',','')

In [25]:
df['area'] = df['area'].astype(float)

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3658632269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area'] = df['area'].astype(float)

In [26]:
df.describe()

        open close         area                         b_day    franchise
count  6981.000000  6981.000000                          6981  6981.000000
mean      1.930526    73.628456  1579 days 22:43:40.713364848     1.761066
std       0.997655    88.393089  1288 days 16:32:07.122398912     0.426463
min       1.000000     0.000000               0 days 00:00:00     1.000000
25%       1.000000    28.470000             652 days 00:00:00     2.000000
50%       1.000000    46.420000            1254 days 00:00:00     2.000000
75%       3.000000    81.780000            2204 days 00:00:00     2.000000
max       3.000000  1206.400000           16491 days 00:00:00     2.000000

In [27]:
bins = [0, 28.47, 46.42, 81.78, 1300]
df['size'] = pd.cut(df['area'], bins = bins, labels = [1,2,3,4])
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2533735452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['size'] = pd.cut(df['area'], bins = bins, labels = [1,2,3,4])

,open,open close,close,area,address,name,category,mub,b_day,franchise,size
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354 days,2,4
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244 days,2,4
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711 days,2,3
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257 days,2,4
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242 days,1,4
...,...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755 days,1,2
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841 days,2,2
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678 days,1,4
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594 days,1,3
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591 days,2,3

In [28]:
df['b_day'] = df['b_day'].astype('str')

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3561823147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['b_day'] = df['b_day'].astype('str')

In [29]:
df['b_day'] = df['b_day'].str.split(' ').str[0]

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/1766772533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['b_day'] = df['b_day'].str.split(' ').str[0]

In [30]:
df

,open,open close,close,area,address,name,category,mub,b_day,franchise,size
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354,2,4
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244,2,4
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711,2,3
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257,2,4
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242,1,4
...,...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755,1,2
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841,2,2
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678,1,4
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594,1,3
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591,2,3

In [31]:
df['addr'] = df['address'].str.replace('남구','1')
df['addr'] = df['addr'].str.replace('달서구','2')
df['addr'] = df['addr'].str.replace('달성군','3')
df['addr'] = df['addr'].str.replace('동구','4')
df['addr'] = df['addr'].str.replace('북구','5')
df['addr'] = df['addr'].str.replace('서구','6')
df['addr'] = df['addr'].str.replace('수성구','7')
df['addr'] = df['addr'].str.replace('중구','8')
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['address'].str.replace('남구','1')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('달서구','2')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('달성군','3')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('동구','4')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('북구','5')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('서구','6')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('수성구','7')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/2365394452.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addr'] = df['addr'].str.replace('중구','8')

,open,open close,close,area,address,name,category,mub,b_day,franchise,size,addr
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,커피숍,N,354,2,4,8
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),커피숍,N,244,2,4,8
2,2018-12-03,3,2020-11-13,65.00,중구,코이,커피숍,N,711,2,3,8
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),커피숍,N,257,2,4,8
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,커피숍,N,242,1,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,커피숍,N,3755,1,2,3
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,커피숍,N,4841,2,2,3
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,커피숍,Y,2678,1,4,3
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,커피숍,N,2594,1,3,3
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,커피숍,N,2591,2,3,3

In [32]:
df.drop(['category'], axis=1, inplace=True)

C:\Users\KI\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [33]:
df['mub'] = df['mub'].str.replace('Y','1')
df['mub'] = df['mub'].str.replace('N','2')

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3240792100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mub'] = df['mub'].str.replace('Y','1')
C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3240792100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mub'] = df['mub'].str.replace('N','2')

In [34]:
df

,open,open close,close,area,address,name,mub,b_day,franchise,size,addr
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,2,354,2,4,8
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),2,244,2,4,8
2,2018-12-03,3,2020-11-13,65.00,중구,코이,2,711,2,3,8
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),2,257,2,4,8
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,2,242,1,4,8
...,...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,2,3755,1,2,3
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,2,4841,2,2,3
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,1,2678,1,4,3
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,2,2594,1,3,3
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,2,2591,2,3,3

In [35]:
df['영업상태'] = df['open close'].apply(lambda x: '영업' if x ==1 else "폐업" )
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_7652/3719912056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영업상태'] = df['open close'].apply(lambda x: '영업' if x ==1 else "폐업" )

,open,open close,close,area,address,name,mub,b_day,franchise,size,addr,영업상태
0,2018-10-22,3,2019-10-11,127.11,중구,호롱커피,2,354,2,4,8,폐업
1,2018-10-30,3,2019-07-01,89.61,중구,루나(RUNA),2,244,2,4,8,폐업
2,2018-12-03,3,2020-11-13,65.00,중구,코이,2,711,2,3,8,폐업
3,2018-12-06,3,2019-08-20,99.75,중구,프레그먼트(Fragment),2,257,2,4,8,폐업
4,2018-11-30,3,2019-07-30,99.75,중구,카페미미미 대구동성로시코르점,2,242,1,4,8,폐업
...,...,...,...,...,...,...,...,...,...,...,...,...
6976,2012-08-21,1,2022-12-02,37.82,달성군,블루포트 디지스트점,2,3755,1,2,3,영업
6977,2009-08-31,1,2022-12-02,41.86,달성군,튜즈데이,2,4841,2,2,3,영업
6978,2015-08-03,1,2022-12-02,340.38,달성군,투썸플레이스 대구옥포점,1,2678,1,4,3,영업
6979,2015-10-26,1,2022-12-02,54.56,달성군,매스커피 대구옥포점,2,2594,1,3,3,영업
6980,2015-10-29,1,2022-12-02,53.36,달성군,커피 다 커피,2,2591,2,3,3,영업

In [36]:
df.drop((df.loc[df['address'] == '경상북도']).index, axis=0, inplace=True)

C:\Users\KI\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
df.to_csv('coffee.csv', encoding='cp949')